@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

h1 {
  font-family: monospace;
  text-align: center;
  color: rgb(250, 81, 250);
  font-size: 4vw;
}

.bigText {
  font-size: 5vw;
  font-weight: bolder;
  margin-bottom: 20px;
}

.crystal {
  z-index: 1000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  transition: filter 300ms ease;
  filter: drop-shadow(0 0 0 rgba(209, 14, 216, 0));
}

.crystal:active {
  border: none;
  outline: none;
  transform: scale(0.95);
  border: none;
  outline: none;
}

.crystal:hover {
  animation: fadeInShadow 0.5s forwards, pulse 2s 0.5s infinite;
}

.crystal:not(:hover) {
  animation: fadeOutShadow 0.5s forwards;
}

@keyframes fadeInShadow {
  0% {
    filter: drop-shadow(0 0 0 rgba(209, 14, 216, 0));
  }
  100% {
    filter: drop-shadow(0 0 15px rgba(209, 14, 216, 0.8));
  }
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 25px rgba(209, 14, 216, 0.8));
  }
  50% {
    filter: drop-shadow(0 0 35px rgba(102, 3, 196, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 25px rgba(209, 14, 216, 0.8));
  }
}

@keyframes fadeOutShadow {
  0% {
    filter: drop-shadow(0 0 15px rgba(209, 14, 216, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 0 rgba(209, 14, 216, 0));
  }
}

@media only screen and (min-width: 768px) {
  .crystal {
    position: relative;
    top: -25vh;
    left: -22vw;
    max-width: 500px;
  }

  .bigText {
    position: relative;
    font-size: 30px;
    top: 40vh;
    left: -22vw;
  }

  .crystal-clicker {
    margin-top: 150px;
  }
}
