/* @import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"); */

.body {
  position: relative;
  background-image: url(./images/Mine.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
